body {
  font-family: "Lato", sans-serif;
  background-color: #00415a;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 400px;
  font-size: 20px;
  padding: 30px;
  text-align: right;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  width: 100%;
  background-image: url("./src/graph.jpg");
  background-repeat: no-repeat;
}

.header nav a {
  margin-right: 15px;
  text-decoration: none;
  padding-right: 5%;
  color: #c8d9ed;
}

.currency-converter-section {
  padding: 20px;
}

#currency-converter-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 3%;
  background-color: white;
  margin-top: -7%;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}
form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.form-group input {
  width: 360px;
  height: 70px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.form-group select {
  height: 70px;
  width: 313px;
  padding-left: 20px;
  box-sizing: border-box;
}
.btn-exchange {
  margin-left: -90px;
  margin-right: -90px;
  margin-top: 40px;
}

button {
  align-self: flex-start;
  padding: 10px 20px;

  border: none;
  cursor: pointer;
  font-size: 16px;
}
.convertButton:hover {
  background-color: white;
}

button:hover {
  background-color: #15b300;
}
.button2:hover {
  background-color: #0056b3;
}
.button3:hover {
  background-color: #8b0101;
}

#conversion-result {
  margin-top: 20px;
}
.btn-container {
  justify-content: flex-end;
  display: flex;
  margin-top: 20px;
}

.list-currencies {
  margin: 10%;
}
.h1-list {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 28px;
  color: #c8d9ed;
}

.form-container {
  width: 25%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 200px;
}

.container {
  text-align: center;
  margin-top: 100px;
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
}

.form-group1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  min-width: 50px;
  height: 100%;
  margin-bottom: 30px;
  justify-content: center;
}
.form-group1 label {
  margin-bottom: 15px;
  font-weight: bold;
}
.form-group1 input {
  width: 250px;
  height: 40px;

  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
}
.form-group1 select {
  height: 30px;
  width: 250px;
  padding-left: 20px;
  box-sizing: border-box;
  text-align: center;
}
.btn-submit {
  color: white;
  margin-bottom: 50px;
}
.btn-convert {
  background-color: #03c9b8;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button {
  background-color: green;
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button2 {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgb(21, 154, 207);
}
.button3 {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: red;
}
.amountWanted {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
  color: gray;
}
.amountResult {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
}
.lastdigit {
  color: rgb(138, 130, 130);
}
.rates {
  margin: 0;
  font-size: 1+6px;
  font-weight: 600;
  color: gray;
}
.gridList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.grid-item {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

#searchInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

#currencyList {
  margin-top: 5px;
  padding: 0;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
}

/* Style for each option in the dropdown list */
#currencyList option {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}

/* Style for the option when hovered */
#currencyList option:hover {
  background-color: #f4f4f4;
}

/* Style for the option when selected */
#currencyList option:checked {
  background-color: #007bff;
  color: #fff;
}
.searchTab {
  text-align: center;
  margin: 20px;
  margin-bottom: 10%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 600px;
}
.gridList {
  margin: 7em;

  font-size: 20px;
  font-weight: 600;
  color: gray;
}
#searchInput {
  width: calc(100% - 90px);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}
::placeholder {
  text-align: center;
}
.searchButton {
  margin: 2rem;
  background-color: #007bff;
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.searchButton:hover {
  background-color: #0056b3;
}
.searchResult {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
  color: gray;
}

#market-status {
  display: flex;
}
#market-status-icon {
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  margin-right: 15px;
  margin-bottom: 50px;
}

#market-status-icon.open {
  background-color: green;
}

#market-status-icon.closed {
  background-color: red;
}

html {
  scroll-behavior: smooth;
}
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23999" d="M2 0L0 2h4zm0 5L0 3h4z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 8px 10px;
}

select:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

select:hover {
  background-color: #f1f1f1;
}
option {
  padding: 100px;
}

.currency-input {
  position: relative;
  width: 100%;
}

.currency-input input {
  width: 100%;
  padding-left: 40px;
  margin-left: -10px;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 50;
}

.currency-input .currency-symbol {
  position: absolute;
  top: 55%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 24px;
  color: #333;
}
#to-currency-update {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
  height: auto;
}
#to-currency-alert {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
  height: auto;
}
.parallax {
  background-image: url("https://cdn.pixabay.com/photo/2016/10/10/22/38/business-1730089_960_720.jpg");
  margin-top: 100px;
  margin-bottom: 100px;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
}
.infoSection {
  background-color: #00415a;
  min-height: 400px;
  margin-top: 200px;
}
.info-section {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0;
  background-color: #00415a;
}

.info-item {
  text-align: center;
  max-width: 300px;
  padding: 20px;
  background-color: #00415a;
  border-radius: 10px;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.info-icon {
  font-size: 50px;
  color: #2491ac;
  margin-bottom: 20px;
}

.info-text h3 {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
}

.info-text p {
  font-size: 16px;
  color: #ccc;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
}
